@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


@theme {
    --font-inter: "Inter", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-bebas: "Bebas Neue", sans-serif;

    --color-background: #ffffff;
    --color-foreground: #000000;
    --color-sidebar: #f0f0f0;
    --color-sidebar-text: #4a4a4a;
    --color-border: #d4d4d4;
    --color-input: #d6d6d6;
    --color-primary: #00b09f;
    --color-primary-opac: rgba(0, 176, 159, 0.5);
    --color-secondary: #ccefeb;
    --color-muted-text: #949494;

    --color-success: #00c417;
    --color-success-text: #ffffff;
    --color-destructive: #ff0000;
    --color-warning: #ff7308;
    --color-card: #fbfaf9;
    --color-form-field: #e7e5e5;
    --color-input-field: #d0cece;
}

:root.dark {
    --color-background-h: #0b0b0b;
    --color-foreground: #ffffff;
    --color-sidebar: #111111;
    --color-sidebar-text: #d1d1d1;
    --color-border: #2a2a2a;
    --color-card: #0f0f0f;
}

/*@layer utilities {*/
@utility no-spinner {
    @apply [&::-webkit-inner-spin-button]:appearance-none;
}
.admin-container {
    @apply bg-sidebar flex flex-col min-h-screen flex-1 overflow-auto;
}

/* Product Form =>
 Basic Details */
.basic-details {
    @apply grid flex-col grid-cols-4 xl:grid-cols-6 rounded-xl  bg-form-field  p-5 max-sm:p-2 gap-5 border-1 border-neutral-300;
}

.form-field {
    @apply max-md:col-span-4 md:col-span-2 xl:col-span-2 max-md:items-center justify-items-center  ;
}

.product-form-item {
    @apply flex flex-col gap-2 w-full   ;
}

.prod-input {
    @apply bg-input-field rounded-xl  focus:placeholder:opacity-0 border-neutral-400 ;
}

.btn-del {
    @apply bg-red-500 hover:bg-red-700 cursor-pointer text-white;
}

.btn-edit {
    @apply bg-yellow-500 hover:bg-yellow-700 cursor-pointer text-white;
}
.btn-incDec{
    @apply text-primary  border-0 bg-form-field   cursor-pointer hover:bg-primary hover:text-secondary;
}
/*    BarcodeCell Details*/
.barcode-details {
    @apply grid grid-cols-4 mt-15 rounded-xl bg-form-field  p-5 max-sm:p-0 gap-5 border-1 border-neutral-300;
}

/*}*/

@layer components {
    .admin-sidebar {
        @apply sticky left-0 top-0 flex h-dvh flex-col justify-between items-center bg-background px-5 pb-5 pt-2;
    }

    .logo {
        @apply flex flex-col items-center gap-2  border-b  border-primary pb-5 max-md:justify-center max-md:hidden;
    }

    .admin-sidebar .link {
        @apply flex flex-row items-center w-full gap-4 rounded-lg px-5 py-3.5 max-md:justify-center;
    }

    .admin-header {
        @apply w-full;
    }

    .search-bar {
        @apply h-fit max-w-120 w-full;
    }

    .info {
        @apply flex flex-row gap-5  ;
    }

    .btn-pri {
        @apply bg-primary cursor-pointer text-white  rounded-xl;
    }

}
